html {
	height: 100%;
}

img {
  border:10;
}

.mac-window {
  display: block;
	float: left;
	clear: left;
  border-width: 35px 20px 20px 20px;
  border-style: solid;
  box-sizing: border-box;
  /*padding: 35px 20px 20px 20px;*/
  border-image: url("../images/mac-frame-drkr.png") 30 40 22 22 fill repeat;
  border-image-width: 30px 40px 22px 22px;
  color: #fff;
  background: none;
  background-clip: content-box;
  position: relative;
  text-align: left;
  min-width: 200px;
  max-width: 100%;
  margin-bottom: 15px;
	left: 10px;
}

.mac-window img {
  vertical-align: bottom;
  max-width: 100%;
}

.mac-window blockquote, .maple-blockquote, .mac-window .quote {
  margin: 0.2em 0 0.2em 0 !important;
  border-style: solid;
  border-width: 40px 30px 25px 15px;
  border-image: url("/user/themes/maple-pet/images/mac-frame-2.png") 44 55 31 19 fill repeat;
  border-image-width: 44px 55px 31px 19px;
  position: relative;
  min-width: 18em;
}
.mac-window blockquote > font.fonts, .mac-window blockquote > span.quotedby, .mac-window .quote .quoteheader {
  position: absolute;
  top: -25px;
}
.mac-window blockquote > hr {
  display: none;
}

.mac-window a {
  color: #9999cc;
  text-shadow: none;
}
.mac-window a:hover {
  color: #ccccff;
}

.mac-window-title {
  position: absolute;
  top: -31px;
  text-align: center;
  width: 100%;
  left: 0;
}
.mac-window-title > span {
  background: #0000;
  padding: 2px 5px 1px 0px;
  font-size: 12px;
  font-family: arcade n;
  margin-right: 20px;
  white-space: nowrap;
	color: #000;
}

.mac-button {
  display: inline-block;
  margin: 4px 5px 0 0;
  border-style: solid;
  border-width: 7px;
  border-image: url("../images/mac-button.png") 7 fill repeat;
  color: #fff;
  text-decoration: none;
  padding: 1px 2px 0 2px;
  text-align: center;
}
.mac-button:link, .mac-button:visited, .mac-button:active, .mac-button:hover {
  color: #000 !important;
  text-decoration: none;
  font-weight: normal;
}

.body-section {
	padding-right: 120px; /*this controls how close the main boxes come to the icons*/
}
.content-wrapper {
	float: left;
	padding: 10px 0 50px 0px;
}

.mac-icons {
	float: right;
	display: block;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 100%;
	background-color: rgba(0,0,0,.7);
}
.big-icon {
	width: 80px;
  text-decoration: none;
  color: #fff !important;
	display: block;
	float: left;
	clear: left;
	margin: 2px 10px;
	text-align: center;
}
.big-icon img {
  display: block;
  padding-bottom: 2px;
  margin: auto;
}
.big-icon span {
  background: #000;
	padding: 2px;
  display: inline-block;
	font-family: arcade n;
	font-size: 8px;
}

@media screen and (max-height: 8000px) {
  .big-icon img {
    width: 64px;
    height: auto;
  }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0a0a0a;
	opacity: 1;
}

@font-face {
  font-family: 'Ocraext';
  src: url('../fonts/OCRAEXT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arcade i';
  src: url('../fonts/ARCADE_I.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arcade n';
  src: url('../fonts/ARCADE_N.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ocr a extended';
  src: url('../fonts/OCR-A-Extended-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ocraextended';
  src: url('../fonts/ocraextended.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
